@theme {
  --font-dm: "DM Serif Text", serif;
  --font-nunito: "Nunito", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "Montserrat", sans-serif;
  --font-mono: "Montserrat", sans-serif,
  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --animate-wiggle: wiggle 5s ease-in-out;
  @keyframes wiggle {
    0%,
    100% {
      --tw-gradient-from: var(--color-primary);
      --tw-gradient-to: var(--color-secondary);
    }
    50% {
      --tw-gradient-from: var(--color-secondary);
      --tw-gradient-to: var(--color-primary);
    }
  }
}

@utility btn {
  svg {
    @apply size-[1.2em];
  }
}

.lite-bg {
  @apply bg-base-200;

  @variant dark {
    @apply bg-base-100;
  }
}

.big-title {
  &:first-child {
    @apply text-4xl font-extrabold md:text-5xl lg:text-5xl xl:text-7xl;

    span {
      @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
    }
  }
}

article {
  h1,
  h2 {
    &:first-child {
      @apply text-4xl font-extrabold md:text-5xl lg:text-5xl xl:text-7xl;
      @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
    }
  }
}

.app-title {
  @apply text-3xl font-bold md:text-4xl font-dm;
}

main {
  @apply grid h-screen grid-rows-[auto_1fr_auto];
}

.heading-title {
  @apply animate-wiggle bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
}