@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-sans: "Louis George Cafe", sans-serif, "Roboto", sans-serif;
  --font-serif: "Louis George Cafe", ui-serif, "Roboto", serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-mono: "Louis George Cafe", ui-monospace, "Roboto", SFMono-Regular,
    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@utility btn {
  svg {
    @apply size-[1.4em];
  }
}

.lite-bg {
  @apply bg-base-200;

  @variant dark {
    @apply bg-base-100;
  }
}

.big-title {
  &:first-child {
    @apply text-4xl font-extrabold md:text-5xl lg:text-5xl xl:text-7xl;

    span {
      @apply bg-gradient-to-r from-blue-500 to-violet-500 bg-clip-text text-transparent;
    }
  }
}

article {
  h1,
  h2 {
    &:first-child {
      @apply text-4xl font-extrabold md:text-5xl lg:text-5xl xl:text-7xl;
      @apply bg-gradient-to-r from-blue-500 to-violet-500 bg-clip-text text-transparent;
    }
  }
}

.app-title {
  @apply text-3xl font-bold md:text-4xl font-roboto;
}

main {
  @apply grid h-screen grid-rows-[auto_1fr_auto];
}
