@use 'variables' as vars;

@import url("https://s3.ssegning.me/home/fonts/louis-george-cafe/99travl-font.css");

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-radix";

@plugin "daisyui" {
  themes: light --default,
  dark --prefersdark;

  logs: false;
}

@plugin "daisyui/theme" {
  name: "dark";                              // Dark Theme
  --color-primary: #{vars.$purple-500};             // Purple (default intensity: 500)
  --color-secondary: #{vars.$teal-400};             // Teal 400
  --color-accent: #{vars.$green-500};               // Green 500
  --color-neutral: #{vars.$grey-900};               // Grey 900 
  --color-base-100: #{vars.$dark-base-100};         // Adjusted base from purple-900
  --color-base-200: #{vars.$dark-base-200};
  --color-base-300: #{vars.$dark-base-300};
  --color-base-content: #{vars.$dark-base-content}; // Adjusted from purple-50 
  --color-info: #{vars.$blue-700};                  // Blue 700
  --color-success: #{vars.$green-600};              // Green 600
  --color-warning: #{vars.$orange-800};             // Orange 800
  --color-error: #{vars.$red-800};                  // Red 800
}

@plugin "daisyui/theme" {
  name: "light";                             // Light Theme
  --color-primary: #{vars.$purple-400};             // Purple 400
  --color-secondary: #{vars.$teal-700};             // Teal 700
  --color-accent: #{vars.$green-400};               // Green 400
  --color-neutral: #{vars.$grey-50};                // Grey 50 
  --color-base-100: #{vars.$light-base-100};        // Adjusted base from purple-50
  --color-base-200: #{vars.$light-base-200};
  --color-base-300: #{vars.$light-base-300};

  --color-info: #{vars.$blue-400};                  // Blue 400
  --color-success: #{vars.$green-500};              // Green 500
  --color-warning: #{vars.$orange-600};             // Orange 600
  --color-error: #{vars.$red-500};                  // Red 500
}

@theme {
  --font-sans: "Louis George Cafe", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Louis George Cafe", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Louis George Cafe", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@utility btn {
  svg {
    @apply size-[1.4em];
  }

  @apply rounded-box;
}

.lite-bg {
  @apply bg-base-200;
 
  @variant dark {
    @apply bg-base-100;
  }
}

.big-title {
  &:first-child {
    @apply text-4xl font-extrabold md:text-5xl lg:text-5xl xl:text-7xl;

    span {
      @apply bg-gradient-to-r from-blue-500 to-violet-500 bg-clip-text text-transparent;
    }
  }
}

article {
  h1,
  h2 {
    &:first-child {
      @apply text-4xl font-extrabold md:text-5xl lg:text-5xl xl:text-7xl;
      @apply bg-gradient-to-r from-blue-500 to-violet-500 bg-clip-text text-transparent;
    }
  }
}

.app-title {
  @apply text-3xl font-bold md:text-4xl;
}

main {
  @apply grid h-screen grid-rows-[auto_1fr_auto];
}