@use "variables" as vars;

@plugin "daisyui/theme" {
  name: "vymalo-bangangte-v2";
  default: false;
  prefersdark: false;
  color-scheme: "dark";

  /// Colors
  --color-base-100: oklch(28% 0.091 267.935);
  --color-base-200: oklch(37% 0.146 265.522);
  --color-base-300: oklch(42% 0.199 265.638);
  --color-base-content: oklch(93% 0.032 255.585);
  --color-primary: oklch(64% 0.222 41.116);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(59% 0.145 163.225);
  --color-secondary-content: oklch(97% 0.021 166.113);
  --color-accent: oklch(59% 0.249 0.584);
  --color-accent-content: oklch(97% 0.014 343.198);
  --color-neutral: oklch(54% 0.245 262.881);
  --color-neutral-content: oklch(97% 0.014 254.604);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  /// Radius
  --radius-selector: #{vars.$radius-selector};
  --radius-field: #{vars.$radius-field};
  --radius-box: #{vars.$radius-box};

  /// Sizes
  --size-selector: #{vars.$size-selector};
  --size-field: #{vars.$size-field};

  /// Misc
  --border: #{vars.$border};
  --depth: #{vars.$depth};
  --noise: #{vars.$noise};
}
