@use "variables" as vars;

@plugin "daisyui/theme" {
  name: "vymalo-brown-v2";
  default: false;
  prefersdark: false;
  color-scheme: "dark";

  /// Colors
  --color-base-100: oklch(26% 0.079 36.259);
  --color-base-200: oklch(40% 0.123 38.172);
  --color-base-300: oklch(47% 0.157 37.304);
  --color-base-content: oklch(95% 0.038 75.164);
  --color-primary: oklch(87% 0.01 258.338);
  --color-primary-content: oklch(13% 0.028 261.692);
  --color-secondary: oklch(90% 0.182 98.111);
  --color-secondary-content: oklch(28% 0.066 53.813);
  --color-accent: oklch(84% 0.143 164.978);
  --color-accent-content: oklch(26% 0.051 172.552);
  --color-neutral: oklch(64% 0.222 41.116);
  --color-neutral-content: oklch(98% 0.016 73.684);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);

  /// Radius
  --radius-selector: #{vars.$radius-selector};
  --radius-field: #{vars.$radius-field};
  --radius-box: #{vars.$radius-box};

  /// Sizes
  --size-selector: #{vars.$size-selector};
  --size-field: #{vars.$size-field};

  /// Misc
  --border: #{vars.$border};
  --depth: #{vars.$depth};
  --noise: #{vars.$noise};
}
