@use "variables" as vars;

@plugin "daisyui/theme" {
  name: "vymalo-light-v2";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  /// Colors
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(59% 0.293 322.896);
  --color-primary-content: oklch(95% 0.052 163.051);
  --color-secondary: oklch(74% 0.16 232.661);
  --color-secondary-content: oklch(29% 0.066 243.157);
  --color-accent: oklch(70% 0.165 254.624);
  --color-accent-content: oklch(28% 0.091 267.935);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);

  /// Radius
  --radius-selector: #{vars.$radius-selector};
  --radius-field: #{vars.$radius-field};
  --radius-box: #{vars.$radius-box};

  /// Sizes
  --size-selector: #{vars.$size-selector};
  --size-field: #{vars.$size-field};

  /// Misc
  --border: #{vars.$border};
  --depth: #{vars.$depth};
  --noise: #{vars.$noise};
}
